# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# App-specific
app-release.apk

# IntelliJ
.idea/
*.iml

# Visual Studio Code
.vscode/

# Security
.env
android/app/upload-keystore.jks
android/key.properties
prepare_android_release.ps1
setup_ios.sh
